{% load staticfiles %}
<html>

<div id="container">
	<head>
		<title>Dank Memes</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|David+Libre|Rokkitt|Ubuntu|Yatra+One" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<link rel="icon" href="https://pbs.twimg.com/profile_images/559166887968260096/e-SnfdE1_400x400.jpeg" size="64x64">
	</head>
	<body>	
		<div id="header">
			<div class="page-header">
				{% if user.is_authenticated %}
				<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
				{% endif %}
				<h1 id="ett">GROSSGUYGREG</h1>
				<h1 id="tva">Dank memes and more</h1>
			</div>
		
		</div>
		<div id="body">
			<div id="outer" style="width:100%">
				<div id="inner">
					{% block content %}
					{% endblock %}		
				</div>
	 		</div>
		</div>
		<div id="footer">
			<div class="page-footer">
				<footer>
					<h2 id="tre">GROSSGUYGREG</h2>
					<h3 id="fyra">Dank memes and more</h3>
				</footer>		
			</div>	
		</div>
	</body>
</div>
</html>
