{% extends 'blog/base.html' %}

{% block content %}
	<div class="post">
		<a href="{% url 'post_list' %}" class="top-menu"><span class="glyphicon glyphicon-chevron-left"></span></a>
		<h2 id="title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
		<P id= "text">{{ post.text|linebreaksbr }}</p>
		<p id="published">Published: {{ post.published_date }}</p>
	</div>
	<div class="comments">
	</div>
	<a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"</span></a>
	<br />
	{% for comment in post.comments.all %}
		<h2 id="author">{{ post.author }}</h2>
		<P id= "comment_text">{{ comment.text|linebreaks }}</p>
		<p id="created">{{ comment.created_date }}</p>
		<br />
	{% empty %}
	<br />
	<p>No comments</p>
	{% endfor %}
{% endblock %}
